mat-card {
  background-color: #337ab7;
  color: #ffffff;
}

.currency-pill {
  display: inline-block;
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
  border: 0.0125rem solid #112e51;
  border-radius: 2rem;
  margin: 0.75rem 0;
}

small {
  padding: 0.25rem;
  text-align: right;
}
